/*Adding global styles--Making responsive*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: avenir;
}
@font-face {
  font-family: "avenir";
  src: url(../../assets/font/AvenirNextLTPro-Regular.otf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "avenir";
  src: url(../../assets/font/AvenirNextLTPro-Demi.otf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "avenir";
  src: url(../../assets/font/AvenirNextLTPro-Bold.otf);
  font-style: normal;
  font-weight: 700;
}
* li {
  list-style-type: none;
}
* a {
  text-decoration: none;
}
* h1 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}
* h4 {
  font-size: 0.857rem;
  font-weight: 600;
  line-height: 1.375rem;
}
@media (min-width: 768px) {
  * h1 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

/*Styling header using flexbox, adding padding to elements, adding hover and active effects--Making responsive for global use*/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #323232;
}
.header__logo {
  padding-top: 0.875rem;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0.6rem 0 0 2.25rem;
  }
  .header .header__logo {
    font-size: 1.5rem;
    margin-right: 3rem;
    padding: 0 0 0.5rem 0;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .header {
    padding-left: 5rem;
  }
}

.header-nav {
  width: 100%;
}
.header-nav__list {
  display: flex;
}
.header-nav__item-container {
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 0.5rem 0;
  font-size: 0.875rem;
}
.header-nav__item-container:active {
  font-weight: 700;
}
.header-nav__item-container:hover, .header-nav__item-container:active {
  border-bottom: 3px solid #FFFFFF;
  color: #FFFFFF;
}
.header-nav__item-container--featured {
  border-bottom: 3px solid #FFFFFF;
}
.header-nav a {
  color: #E1E1E1;
}
@media (min-width: 768px) {
  .header-nav {
    width: auto;
  }
  .header-nav .header-nav__item-container {
    margin-right: 2rem;
    padding-bottom: 1rem;
  }
}

/*Stryling footer, adding background color, font color, font size, as well as padding and margin for elements*/
.footer {
  background-color: #323232;
  color: #FFFFFF;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  padding: 1rem;
}
.footer__heading {
  padding-bottom: 1rem;
}
.footer-social__container {
  padding-bottom: 1rem;
}
.footer-social__icon {
  margin-right: 1.5rem;
}
.footer-contact {
  padding-bottom: 2rem;
}
.footer-contact__paragraph--bold {
  font-weight: 600;
}
.footer-contact__paragraph--bold-second {
  padding-bottom: 1rem;
}
.footer-contact__container {
  padding-bottom: 1rem;
}
.footer .email {
  padding-top: 1rem;
}
.footer a {
  color: #FFFFFF;
}
.footer__paragraph {
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer .footer__heading {
    margin-right: 1.5rem;
  }
  .footer .footer-social__container {
    display: flex;
    align-items: baseline;
    padding: 0 1.5rem;
  }
  .footer .footer-contact {
    display: flex;
    justify-content: center;
  }
  .footer .footer-contact__container {
    margin-right: 3rem;
  }
  .footer .footer__logo-container {
    position: relative;
  }
  .footer__logo {
    font-size: 1.5rem;
    position: absolute;
    bottom: 12rem;
    left: 80%;
  }
  .footer__paragraph {
    padding-left: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .footer .footer__heading {
    margin-right: 1.5rem;
  }
  .footer .footer-social__container {
    padding-left: 8rem;
  }
  .footer .footer-contact {
    display: flex;
    justify-content: flex-start;
    padding-left: 8rem;
  }
  .footer .footer__paragraph {
    padding-left: 8rem;
  }
}/*# sourceMappingURL=_global.css.map */