@use "./mixin" as *;
@use "./variables" as *;

/*Styling header using flexbox, adding padding to elements, adding hover and active effects--Making responsive for global use*/

.header {
    @include flex-center(column);
    background-color: $bandsite-black;
    &__logo {
        padding-top: 0.875rem;
    }
    @include tablet {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 0.6rem 0 0 2.25rem;
        .header__logo {
            font-size: 1.5rem;
            margin-right: 3rem;
            padding: 0 0 0.5rem 0;
        }
    @include desktop {
        padding-left: 5rem;
    }    
    }
}

.header-nav {
    width: 100%;
    &__list {
        display: flex;
    }
    &__item-container {
        @include flex-justify;
        width: 50%;
        padding: 0.5rem 0;
        font-size: 0.875rem;
        &:active {
            font-weight: map-get($map: $font-weights, $key: bold);
        }
        &:hover, &:active {
            border-bottom: 3px solid $white;
            color: $white;
        }
        &--featured {
            border-bottom: 3px solid $white;
        }
    }
    & a {
        color: $mercury;
    }
    @include tablet {
        width: auto;

        .header-nav__item-container {
            margin-right: 2rem;
            padding-bottom: 1rem;
        }
    }
}

/*Stryling footer, adding background color, font color, font size, as well as padding and margin for elements*/

.footer {
    background-color: $bandsite-black;
    color: $white;
    font-size: .8125rem;
    line-height: 1.125rem;
    padding: 1rem;
    &__heading {
        padding-bottom: 1rem;
    }
    &-social__container {
        padding-bottom: 1rem;
    }
    &-social__icon {
        margin-right: 1.5rem;
    }
    &-contact {
        padding-bottom: 2rem;
        &__paragraph--bold {
            font-weight: map-get($map: $font-weights, $key: demi);
        }
        &__paragraph--bold-second {
            padding-bottom: 1rem;
        }
    }
    &-contact__container {
        padding-bottom: 1rem;
    }

    .email {
        padding-top: 1rem;
    }
    & a {
        color: $white;
    }
    &__paragraph {
        padding-bottom: 1rem;
    }
    @include tablet {
        .footer {
            &__heading {
                margin-right: 1.5rem;
            }
            &-social__container{
                display: flex;
                align-items: baseline;
                padding: 0 1.5rem
            }
            &-contact {
                @include flex-justify;
                &__container {
                    margin-right: 3rem;
                }
            }
        }
        .footer__logo-container {
            position: relative;
        }
        &__logo {
            font-size: 1.5rem;
            position: absolute;
            bottom: 12rem;
            left: 80%;
        }
        &__paragraph {
            padding-left: 1.5rem;
        }
    }
    @include desktop {
        .footer {
            &__heading {
                margin-right: 1.5rem;
            }
            &-social__container {
                padding-left: 8rem;
            }
            &-contact {
                display: flex;
                justify-content: flex-start;
                padding-left: 8rem;
            }
            &__paragraph {
                padding-left: 8rem;
            }
        }
    }
}