@use "./partials/mixin" as *;
@use "./partials/variables" as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    @font-face {
        font-family: 'Avenir';
        src: url(../assets/Font/AvenirNextLTPro-Regular.otf);
        font-weight: $regular-fontweight;
    }
    @font-face {
        font-family: 'Avenir';
        src: url(../assets/Font/AvenirNextLTPro-Demi.otf);
        font-weight: $demi-fontweight;
    }
    @font-face {
        font-family: 'Avenir';
        src: url(../assets/Font/AvenirNextLTPro-Bold.otf);
        font-weight: $bold-fontweight;
    }
}






.hero {
    background: url(../assets/Images/hero-bio.jpg);
}

