@use "./partials/mixin" as *;
@use "./partials/variables" as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: avenir;
    @font-face {
        font-family: 'avenir';
        src: url(../assets/Font/AvenirNextLTPro-Regular.otf);
        font-style: normal;
        font-weight: $regular-fontweight;
    }
    @font-face {
        font-family: 'avenir';
        src: url(../assets/Font/AvenirNextLTPro-Demi.otf);
        font-style: normal;
        font-weight: $demi-fontweight;
    }
    @font-face {
        font-family: 'avenir';
        src: url(../assets/Font/AvenirNextLTPro-Bold.otf);
        font-style: normal;
        font-weight: $bold-fontweight;
    }   
    
    li {
        list-style-type: none;
    }
    
    a {
        text-decoration: none;
    }

    h1 {
        font-size: 1.5rem;
        font-weight: $demi-fontweight;
        line-height: 2rem;
    }

    h4 {
        font-size: 0.857rem;
        font-weight: $demi-fontweight;
        line-height: 1.375rem;
    }
    
}

.header {
    @include flex-center;
    flex-direction: column;
    background-color: $bandsite-black;
    padding: 0 1rem;
    &__logo {
        color: $white;
        padding-top: 0.875rem;
    }
    & a {
        color: $mercury;
        &:hover, :active {
            color: $white;
            font-weight: $demi-fontweight;
        }
    }
    
    &-nav__list {
        display: flex;
        padding-bottom: 1rem;
    }
    &-nav__item {
        font-size: 0.875rem;
    }
}

.hero {
    background: no-repeat center url(../assets/Images/hero-bio.jpg);
    background-size: cover;
    &--overlay {
        background-color: rgba(0, 0, 0, 0.5);
    }
    &__heading {
        color: $white;
        padding: 5rem 1rem;
    }
}

.main {
    background-color: $white;
    color: $bandsite-darkblack;
    &__container-img {
        width: 100%;
        padding: 0 1rem 1rem 1rem;
    }
    &__heading {
        padding: 1.5rem 1rem 1rem 1rem;
    }
}

.main__container {
    &-subheading {
        padding: 1rem;
        text-align: justify;
    }
    &-singer {
        padding: 0 1rem;
    }
    &-band {
         padding: 1rem;
    }
    &-about {
        padding: 0 1rem 1rem;
    }
    &-first-paragraph {
        padding-bottom: 1rem;
        font-size: .875rem;
    }
    &-second-paragraph {
        font-size: 0.875rem;
    }
}

.photo-gallery {
    background-color: $mercury;
    &__heading {
        padding: 1.5rem 1rem 1rem 1rem;
    }
    &__images-container {
        padding: 0 1rem 1rem;
    }
    &__image {
        width: 100%;
        margin-bottom: 1rem;
    }
}

.footer {
    background-color: $bandsite-black;
    color: $white;
    font-size: .8125rem;
    line-height: 1.125rem;
    padding: 1rem;
    &__heading {
        padding-bottom: 1rem;
    }
    &-social__container {
        padding-bottom: 1rem;
    }
    &-contact {
        padding-bottom: 2rem;
        &__paragraph--bold {
            font-weight: $demi-fontweight;
        }
    }
    &-contact__container {
        padding-bottom: 1rem;
    }
    .second {
        padding-bottom: 1rem;
    }
    .email {
        padding-top: 1rem;
    }
    & a {
        color: $white;
    }
    &__paragraph {
        padding-bottom: 1rem;
    }
}