/*Adding global styles--Making responsive*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: avenir;
}
@font-face {
  font-family: "avenir";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "avenir";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "avenir";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf);
  font-style: normal;
  font-weight: 700;
}
* li {
  list-style-type: none;
}
* a {
  text-decoration: none;
}
* h1 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}
* h4 {
  font-size: 0.857rem;
  font-weight: 600;
  line-height: 1.375rem;
}
@media (min-width: 768px) {
  * h1 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

/*Styling header using flexbox, adding padding to elements, adding hover and active effects--Making responsive*/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #323232;
  padding: 0 1rem;
}
.header__logo {
  color: #FFFFFF;
  padding-top: 0.875rem;
}
.header-nav__list {
  display: flex;
  padding-bottom: 1rem;
}
.header-nav__list a {
  color: #E1E1E1;
  padding: 0.9rem 4rem;
}
.header-nav__list a:hover, .header-nav__list a :active {
  color: #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
}
.header-nav__list a:active {
  font-weight: 700;
}
.header-nav__item {
  font-size: 0.875rem;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 2.25rem;
  }
  .header .header__logo {
    font-size: 1.5rem;
    margin-right: 3rem;
    padding: 0;
  }
  .header a {
    padding: 0;
    margin-right: 3rem;
  }
  .header .header-nav__list {
    padding: 0;
  }
}

/*Styling hero section, and adjusting the background image with a darker overlay--Making responsive*/
.hero {
  background: no-repeat center url(../assets/Images/hero-bio.jpg);
  background-size: cover;
}
.hero--overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
.hero__heading {
  color: #FFFFFF;
  padding: 5rem 1rem;
}
@media (min-width: 768px) {
  .hero .hero__heading {
    padding: 13rem 2.25rem;
  }
}
@media (min-width: 1280px) {
  .hero .hero__heading {
    padding: 20rem 8rem;
  }
}

/*Styling main section background and font color, adjusting image and header padding--Making responsive*/
.main {
  background-color: #FFFFFF;
  color: #000000;
}
.main__heading {
  padding: 1.5rem 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .main .main__heading {
    padding: 3rem 2.25rem 2rem;
  }
}
@media (min-width: 1280px) {
  .main .main__heading {
    padding-left: 8rem;
  }
}

/*Adding padding to main container elements, adjusting image--Making responsive*/
.main__container-img {
  width: 100%;
  padding: 0 1rem 1rem 1rem;
}
.main__container-statement {
  padding: 0 1rem;
}
.main__container-subheading {
  display: flex;
  justify-content: center;
  text-align: start;
  padding-bottom: 0.5rem;
}
.main__container-band {
  padding-bottom: 0.875rem;
}
.main__container-about {
  padding: 1rem 1rem;
}
.main__container-paragraph {
  font-size: 0.875rem;
  text-align: justify;
}
.main__container .first {
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .main__container .main__container-img {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding-bottom: 2.25rem;
  }
  .main__container .main__container-subheading {
    font-size: 1.3rem;
    padding-bottom: 1rem;
    width: 90%;
  }
  .main__container .main__container-statement {
    padding-left: 6rem;
  }
  .main__container .main__container-singer {
    font-size: 1rem;
  }
  .main__container .main__container-about {
    padding-left: 6rem;
  }
  .main__container .main__container-band {
    font-size: 1.5rem;
    padding: 3rem 0;
  }
  .main__container .main__container-story {
    display: flex;
    justify-content: center;
    width: 90%;
  }
  .main__container .main__container-paragraph {
    padding-right: 1.5rem;
    line-height: 1.3rem;
  }
}
@media (min-width: 1280px) {
  .main__container .main__container-img {
    width: 70%;
  }
  .main__container .main__container-statement {
    width: 80%;
    padding-left: 13rem;
  }
  .main__container .main__container-about {
    width: 80%;
    margin: 0 auto;
  }
  .main__container .main__container-paragraph {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

/*Setting background color, adding padding to elements, and adjusting images of photo gallery*/
.photo-gallery {
  background-color: #E1E1E1;
}
.photo-gallery__heading {
  padding: 1.5rem 1rem 1rem 1rem;
}
.photo-gallery__images-container {
  padding: 0 1rem 1rem;
}
.photo-gallery__image {
  width: 100%;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .photo-gallery .photo-gallery__heading {
    padding-left: 3rem;
  }
  .photo-gallery .photo-gallery__images-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .photo-gallery .photo-gallery__image {
    width: 30%;
    margin: 0.6rem;
  }
}
@media (min-width: 1280px) {
  .photo-gallery .photo-gallery__heading {
    padding-left: 8rem;
  }
  .photo-gallery .photo-gallery__image {
    width: 26%;
  }
}

/*Stryling footer, adding background color, font color, font size, as well as padding and margin for elements*/
.footer {
  background-color: #323232;
  color: #FFFFFF;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  padding: 1rem;
}
.footer__heading {
  padding-bottom: 1rem;
}
.footer-social__container {
  padding-bottom: 1rem;
}
.footer-social__icon {
  margin-right: 1.5rem;
}
.footer-contact {
  padding-bottom: 2rem;
}
.footer-contact__paragraph--bold {
  font-weight: 600;
}
.footer-contact__container {
  padding-bottom: 1rem;
}
.footer .second {
  padding-bottom: 1rem;
}
.footer .email {
  padding-top: 1rem;
}
.footer a {
  color: #FFFFFF;
}
.footer__paragraph {
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer .footer-social__container {
    display: flex;
    align-items: baseline;
    padding: 0 1.5rem;
  }
  .footer .footer-contact {
    display: flex;
    justify-content: center;
  }
  .footer .footer-contact__container {
    margin-right: 3rem;
  }
  .footer .footer__logo-container {
    position: relative;
  }
  .footer__logo {
    font-size: 1.5rem;
    position: absolute;
    bottom: 12rem;
    left: 80%;
  }
  .footer__paragraph {
    padding-left: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .footer .footer__heading {
    margin-right: 1.5rem;
  }
  .footer .footer-social__container {
    padding-left: 8rem;
  }
  .footer .footer-contact {
    display: flex;
    justify-content: flex-start;
    padding-left: 8rem;
  }
  .footer .footer__paragraph {
    padding-left: 8rem;
  }
}/*# sourceMappingURL=bio.css.map */